body {
    background-image: url(https://cdn.pixabay.com/photo/2015/08/25/03/50/herbs-906140_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /*background-color: aqua;*/
}
.head h1{
  color: green;
  text-decoration: underline;
  font-size: 50px;
  font-weight: bold;
}
h1 {
    text-align: center;
}

.section-p1 {
    padding: 48px 80px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#feature .fe_box {
    width: 260px;
    text-align: center;
    padding: 24px 30px;
    box-shadow: 40px 40px 54px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 2px;
    margin: 20px ;
}

#feature .fe_box:hover{
    box-shadow: 20px 20px 74px rgba(70, 62, 221, 0.1);
}

#feature .fe_box img {
  height: 150px;
    width: 240px;
    margin-bottom: 30px;

}




#feature .fe_box:hover h2{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
 
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: color-mix(in srgb, color percentage, color percentage);
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }