@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210416/pngtree-pink-theme-gradient-soft-and-colorful-clouds-background-image_620100.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  /*background-color: aqua;*/
}

.head h1 {
  font-family: 'Poppins', sans-serif;
  color: rgb(20, 39, 122);
  text-decoration: underline;
  font-size: 50px;
  font-weight: bold;
}

h1 {
  text-align: center;
}

.head1 h2 {
  color: green;
  text-decoration: underline;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.head2 {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 25px;
}

.head2 ul {
  list-style-type: square;
  list-style-position: inside;
  align-self: auto;

}

.head2 ul li {
  align-self: auto;
}

.head2 ol {
  list-style-type: decimal;
  list-style-position: inside;
  align-items: center;

}

.head2 ol li {
  align-self: auto;
}